import UIKit

extension UIImage {
    enum {{name}}: String {
        {{#members}}
        case {{member_name}} = "{{key}}"
        {{/members}}
    }

    convenience init!(assetIdentifier: {{name}}) {
        self.init(named: assetIdentifier.rawValue)
    }
}
